body{background-color: #BFF386}
h1{font-size: 60px; color: #FE06E3}
h2{font-size: 45px; color: #17E7F6}
p{font-size: 25px; color: #7A26B8}
h3{font-size:25px; color: #B22067}
h4{color:#0E52C4; font-size: 40px}
h5{font-size: 35px}
.cute{color: hotpink;text-transform: uppercase}
.hot{color:lightblue;text-transform: uppercase}
span{color:hotpink}